<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Magazine-0</string>
		<key>Title</key>
		<string>Magazine Issue 0</string>
		<key>Date</key>
		<date>2011-10-01T06:00:00Z</date>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.png</string>
		<key>Content</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.pdf</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Magazine-1</string>
		<key>Title</key>
		<string>Magazine Issue 1</string>
		<key>Date</key>
		<date>2011-10-15T06:00:00Z</date>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-1.png</string>
		<key>Content</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-1.pdf</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Magazine-2</string>
		<key>Title</key>
		<string>Magazine Issue 2</string>
		<key>Date</key>
		<date>2011-11-01T07:00:00Z</date>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-2.png</string>
		<key>Content</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-2.pdf</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Magazine-3</string>
		<key>Title</key>
		<string>Magazine Issue 3</string>
		<key>Date</key>
		<date>2011-11-15T07:00:00Z</date>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-3.png</string>
		<key>Content</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-3.pdf</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Magazine-4</string>
		<key>Title</key>
		<string>Magazine Issue 4</string>
		<key>Date</key>
		<date>2011-12-01T07:00:00Z</date>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-4.png</string>
		<key>Content</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-4.pdf</string>
	</dict>
</array>
</plist>
